@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #eeeeee;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 300;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 12px;
}
a {
  text-decoration: none;
}

.header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 14vh;
  padding-top: 7px;
  margin-bottom: 8vh;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 15px #dddddd;
}

.categories {
  display: flex;
  height: 12px;
  position: absolute;
  width: 100vw;
  margin-top: 58px;
  justify-content: center;
  align-items: center;
}

.product-list {
  margin: 0 auto;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  display: grid;
  width: 90vw;
  max-width: 1240px;
  gap: 2rem 1rem;
  grid-template-columns: repeat(2, 31.5vh);
}

.product-card {
  height: 35vh;
  width: 30vh;
  margin: 5px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 15px #dddddd;
}

.product-image {
  height: 18vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product-content {
  padding: 5px 5px 5px 12px;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}

@media screen and (min-width: 768px) {
  .product-list {
    gap: 2rem 4rem;
    grid-template-columns: repeat(4, 30vh);
  }
}
